<form [formGroup]="userDataForm" class="d-flex">
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Ονοματεπώνυμο</mat-label>-->
<!--        <input matInput class="form-control rounded-sm col-sm-12" placeholder="Ονοματεπώνυμο" value="">-->
<!--      </mat-form-field>-->
  <div class="form-group col-sm-2 pl-0">
<!--Test-->
    <ng-select
      [items]="dataSource"
      bindLabel="name"
      (change)="onChange($event)"
      [placeholder]="'Επιλέξτε ΔΙ.ΔΙ.'">
    </ng-select>
  </div>

  <div class="form-group col-sm-2 pl-0">
    <label for="fullname">Ονοματεπώνυμο</label>
    <input type="text" class="form-control rounded-sm col-sm-12" id="fullname" formContolName="fullName" disabled />
  </div>
  <div class="form-group col-sm-2 pl-0">
    <label for="unitCode">Κωδ. Μονάδας</label>
    <input type="text" class="form-control rounded-sm col-sm-12" id="unitCode" formContolName="unitCode" disabled />
  </div>
  <div class="form-group col-sm-2 pl-0">
    <label for="registryNo">Αρ.Μητρώου</label>
    <input type="text" class="form-control rounded-sm col-sm-12" id="registryNo" formContolName="registryNo"disabled />
  </div>
  <div class="form-group col-sm-2 pl-0">
    <label for="phoneNo">Τηλ.(Διεπιλογικό)</label>
    <input type="text" class="form-control rounded-sm col-sm-12" id="phoneNo" formContolName="phoneNo" disabled />
  </div>
  <div class="form-group col-sm-2 pl-0">
    <label for="mobileNo">Τηλ. (Υπ.Κινητό)</label>
    <input type="text" class="form-control rounded-sm col-sm-12" id="mobileNo" formContolName="mobileNo" disabled />
  </div>
  <div class="form-group col-sm-2 pl-0">
    <label for="email">Email</label>
    <input type="email" class="form-control rounded-sm col-sm-12" id="email" formContolName="email" disabled />
  </div>
</form>
