<form [formGroup]="contractOfficerForm">
  <div class="form-group row justify-space-between">
    <label for="customerCode" class="col-sm-6 col-form-label">ΣΥΔΙΠΕΛ</label>
    <input id="customerCode" type="number" class="form-control rounded-sm col-sm-6" formControlName="customerCode"
      required />
  </div>
  <div class="form-group row justify-space-between">
    <label for="fullName" class="col-sm-6 col-form-label">Ονοματεπώνυμο</label>
    <input id="fullName" type="text" class="form-control rounded-sm col-sm-6" formControlName="fullName" required />
  </div>
  <div class="form-group row justify-space-between">
    <label for="phone" class="col-sm-6 col-form-label">Τηλέφωνο</label>
    <input id="phone" type="tel" class="form-control rounded-sm col-sm-6" formControlName="phone" required />
  </div>
  <div class="form-group row justify-space-between">
    <label for="capacity" class="col-sm-6 col-form-label">Ιδιότητα στην εταιρία</label>
    <input id="capacity" type="text" class="form-control rounded-sm col-sm-6" formControlName="capacity" required />
  </div>
  <div class="form-group row justify-space-between">
    <label for="email" class="col-sm-6 col-form-label">Email</label>
    <input id="email" type="email" class="form-control rounded-sm col-sm-6" [ngClass]="{
        'is-invalid': isValidEmail
      }" formControlName="email" required />
    <div *ngIf="isValidEmail" class="invalid-feedback offset-sm-4">
      {{ emailErrorMessage }}
    </div>
  </div>
</form>