<div style="max-width: 700px">
  <h2> (Microfrontend)</h2>
  <p>
    This component is the container (shell) of all the remotely applications
    using Module Federation, angular is shared so the download is minimal for
    the frontend
  </p>

  <h2>Basic Theme Components (form more please check bootstrap)</h2>

  <h2 class="my-4">Buttons</h2>
  <div class="mb-4">
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
  </div>
  <div>
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
  </div>

  <h2 class="my-4">Forms</h2>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="customerCode" class="col-sm-4 col-form-label">ΣΥΔΙΠΕΛ</label>
          <input id="customerCode" type="number" class="form-control rounded-sm col-sm-8" required />
        </div>
        <div class="form-group row">
          <label for="fullName" class="col-sm-4 col-form-label">Ονοματεπώνυμο</label>
          <input id="fullName" type="text" class="form-control rounded-sm col-sm-8" required />
        </div>
        <div class="form-group row">
          <label for="phone" class="col-sm-4 col-form-label">Τηλέφωνο</label>
          <input id="phone" type="tel" class="form-control rounded-sm col-sm-8" required />
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label">Email</label>
          <input id="email" type="email" class="form-control rounded-sm col-sm-8" [ngClass]="{
              'is-invalid': true
            }" formControlName="email" required />
          <div *ngIf="true" class="invalid-feedback offset-sm-4">
            *Error Message
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
